<div class="component homepage-hero-band full-width-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h1>Welcome to Quarkus.Dev</h1>
      <h2>The official marketing hub for Quarkus, the Supersonic Subatomic Java framework!</h2>
      <p>Discover how Quarkus is revolutionizing the development landscape, enabling developers to build powerful, lightweight, and incredibly fast applications for a cloud-native world.</p>
    </div>
    <div class="width-12-12"> 
      <div class="ctas">
        <p class="nowavailable">Want to learn more about Quarkus?</p>
        <a href="https://quarkus.io/" class="button-cta">Go to the project site</a>
      </div>
    </div> 
  </div>
</div>
